body {
	background-image: url(menu.png);
	background-size: cover;
	height: 101vh;
	width: 100vw;
	display: flex;
	background-position: center center;
}

.box_prontuario {
    position:absolute; 
    top:20%;
    left:50%;
    transform: translate(-20%, -50%);
}



.box_agenda {
    height: 0;
	width: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
	color: #000;
}


.box_perfil {
	height: 0;
	width: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
	color: #000;
}


.box_paciente {
	height: 0;
	width: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
	color: #000;
}



.box_relatorio {
	height: 0;
	width: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
	color: #000;
}


.btn-prontuario {
    height: 50px;
	width: 100%;
	padding: 100px;
	background: #51B6B6;
	color: white;
	border:0px;
	border-radius: 10px;
	cursor: pointer;
}

.btn-agenda {
	height: 50px;
	width: 100%;
	padding: 100px;
	background: #51B6B6;
	color: white;
	border:0px;
	border-radius: 10px;
	cursor: pointer;
}

.btn-perfil {
	height: 50px;
	width: 100%;
	padding: 100px;
	background: #51B6B6;
	color: white;
	border:0px;
	border-radius: 10px;
	cursor: pointer;
}

.btn-paciente {
	height: 50px;
	width: 100%;
	padding: 100px;
	background: #51B6B6;
	color: white;
	border:0px;
	border-radius: 10px;
	cursor: pointer;
}

.btn-relatorio {
	height: 50px;
	width: 100%;
	padding: 100px;
	background: #51B6B6;
	color: white;
	border:0px;
	border-radius: 10px;
	cursor: pointer;
}

.msg_error {
	color: #FF6D6D;
	text-align: center;
}

a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}

h1 {
	font-size: 30px;
	color: #000;
	text-align: center;
	margin: 15px 0px 20px 15px;
	font-family: 'Oswald';
	font-weight: 500;
}
